<div class="overlay">
    <h1>
        {{title | uppercase}}
    </h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9">
                <div class="card-deck">
                    <div *ngFor='let quote of wQuotes; let i = index' class="card">
                        <div class="card-body">
                            <h4 class="card-title" appStrikethrough>{{quote.title}}<button (click)='seeMore(i)' id="more" class="btn btn-primary">Read</button>
                            </h4>
                            <p class="card-text" id="text">{{quote.quote}}</p>
                            <p class="card-text" id="text">- {{quote.author}} <span style="font-weight: bolder;">Posted: {{quote.datePosted|dateCount}} days ago. </span></p>
                            <div >
                                <span class="card-subtitle mb-2">Posted by: <span id="name">{{quote.name}}</span><span id="date"> on: <span id="datecolor">{{quote.datePosted|date}}.</span></span></span>
                                <app-upward></app-upward>
                                <app-wquotes-detail id="read"
                                *ngIf='quote.showAuthor' [quotes]='quote' (isRead)='quoteRead($event, i)'>
                                </app-wquotes-detail>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <app-wquotes-form (add)="addedNewWquotes($event)"></app-wquotes-form>
            </div>
        </div>
    </div>
</div>